<!DOCTYPE html>
<html>
<head>
  <title>Weight Detail</title>
  <style>
    table {
      width: 100%;
    }

    th, td {
      padding: 8px;
      text-align: left;
    }

    .margin-top {
        margin-top: 500px;
    }
    </style>
</head>
<body>
  <h1>Weight Detail</h1>
  <table>
    <tr>
      <th>Tanggal</th>
      <th>Max</th>
      <th>Min</th>
      <th>Perbedaan</th>
    </tr>
    <tr>
      <td><%= weight.date %></td>
      <td><%= weight.max_weight %></td>
      <td><%= weight.min_weight %></td>
      <td><%= weight.max_weight - weight.min_weight %></td>
      </tr>
        </table>
        <a class="margin-top" href="/">Kembali</a>
      </body>
      </html>
