<!DOCTYPE html>
<html>
<head>
  <title>Weight Detail</title>
</head>
<body>
  <h1>Weight Detail</h1>
  <table>
    <tr>
      <th>Tanggal</th>
      <th>Max</th>
      <th>Min</th>
      <th>Perbedaan</th>
    </tr>
    <tr>
      <td><%= weight.date %></td>
      <td><%=
