<!DOCTYPE html>
<html>
<head>
  <title>Weight Form</title>
</head>
<body>
  <h1>Create Weight Form</h1>
  <form method="POST" action="/">
    <label for="date">Tanggal</label>
    <input type="date" id="date" name="date" required>

    <label for="maxWeight">Max Weight</label>
    <input type="number" id="maxWeight" name="maxWeight" required>

    <label for="minWeight">Min Weight</label>
    <input type="number" id="minWeight" name="minWeight" required>

    <button type="submit">Create Weight</button>
  </form>
</body>
</html>
